@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-Recarga</h1>
    <p class="lead">Necessita de carregar o seu carro elétrico?</p>
    <p>Registe-se na nossa plataforma e comece já poupar!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Tem um carro elétrico?</h2>
        <p>
            Com o nosso website facilmente consegue ver os postos disponiveis, e consegue escolher o 
            melhor posto parar as suas necessidades. O que está a espera? Registe-se já.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>Tem uma estação de carregamento</h2>
        <p>
           Com o nosso website facilmente consegue gerir a sua estação, definir horas de funcionamento, criar
           promoções entre outros. O que está a espera? Regista já a sua empresa.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
</div>